body{
    font-family: 'Poppins', sans-serif;
}

/*.modo-escuro .bg-romance { background-color: #e83e8c !important; }
.modo-escuro .bg-ficcao { background-color: #0dcaf0 !important; }
.modo-escuro .bg-fantasia { background-color: #ffc107 !important; color: #212529 !important; }
.modo-escuro .bg-classico { background-color: #198754 !important; }
.modo-escuro .bg-poesia { background-color: #6f42c1 !important; }
.modo-escuro .bg-drama { background-color: #dc3545 !important; }*/